.pokemon-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 10px 7px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  height: 300px;
}

.pokemon-card__image {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.pokemon-card__info {
  text-align: center;
}
.pokemon-card__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pokemon-card__type,
.pokemon-card__ability {
  margin-bottom: 5px;
  font-size: 16px;
  margin-top: 5px;
}

@media screen and (max-width: 1200px) {
  .pokemon-card {
    flex-direction: column;
    height: auto;
    width: 60vw;
  }
}

@media screen and (max-width: 900px) {
  .pokemon-card {
    flex-direction: column;
    height: auto;
    width: 80vw;
  }

  .pokemon-card__image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  .pokemon-card__info {
    text-align: center;
  }

  .pokemon-card__name {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .pokemon-card__type,
  .pokemon-card__ability {
    font-size: 14px;
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 600px) {
  .pokemon-card {
    flex-direction: column;
    height: auto;
  }

  .pokemon-card__image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .pokemon-card__info {
    text-align: center;
  }

  .pokemon-card__name {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .pokemon-card__type,
  .pokemon-card__ability {
    font-size: 12px;
    margin-bottom: 3px;
  }
}
