.app {
  background: linear-gradient(
    -45deg,
    #ff0000,
    #cc0000,
    #3b4cca,
    #ffde00,
    #b3a125
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  min-height: 100vh;
  min-width: 100vw;
}

.app__table {
  display: flex;
  wrap: nowrap;
  margin: 0 auto;
  gap: 100px;
}

.app__container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 32px 40px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 900px) {
  .app {
    font-size: 16px;
    line-height: 20px;
  }

  .app__table {
    flex-direction: column;
    gap: 32px;
    margin-right: 50px;
  }

  .app__container {
    padding: 32px 20px;
  }
}

@media screen and (max-width: 600px) {
  .app {
    font-size: 14px;
    line-height: 20px;
  }

  .app__table {
    flex-direction: column;
    gap: 32px;
    padding-right: 50px;
  }
}
