.app {
  background: linear-gradient(
    -45deg,
    #ff0000,
    #cc0000,
    #3b4cca,
    #ffde00,
    #b3a125
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.app__container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 32px 40px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
