.pokemon__grid {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
  gap: 70px;
  max-width: 100vw;
}

@media screen and (max-width: 1200px) {
  .pokemon__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
  }
}

@media screen and (max-width: 900px) {
  .pokemon__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  .pokemon__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
  }
}
