.footer__container {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.footer__copyright {
  margin-left: 50px;
  font-size: 16px;
}

.footer__year {
  margin-right: 50px;
  font-size: 16px;
}
