.footer__container {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 300px;
  padding-bottom: 32px;
  position: relative;
}

.footer__copyright {
  margin: 0 auto;
  font-size: 16px;
}

.footer__year {
  margin: 0 auto;
  font-size: 16px;
}
